aiohttp[speedups]
beautifulsoup4
cloudscraper
fastapi==0.104.1
gunicorn
mangum
requests
uvicorn[standard]
aioredis==2.0.1
async-timeout==5.0.1
typing_extensions==4.12.2
aiocron
motor==3.3.1
pymongo>=4.3,<4.4
